@model LoginWith2faViewModel
@{
    ViewData["Title"] = "Two-factor authentication";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" sizes="76x76" href="~/images/icono.jpg">
    <link rel="icon" type="image" href="~/images/icono.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewData["Title"] - TeHagoLaFila</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- CSS Files -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/light-bootstrap-dashboard.css?v=2.0.1" rel="stylesheet" />
</head>
<body class="my-login-page">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                <input asp-for="RememberMe" type="hidden" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TwoFactorCode"></label>
                    <input asp-for="TwoFactorCode" class="form-control" autocomplete="off" />
                    <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMachine">
                            <input asp-for="RememberMachine" />
                            @Html.DisplayNameFor(m => m.RememberMachine)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
            </form>
        </div>
    </div>
    <p>
        Don't have access to your authenticator device? You can
        <a asp-action="LoginWithRecoveryCode" asp-route-returnUrl="@ViewData["ReturnUrl"]">log in with a recovery code</a>.
    </p>
</body>
</html>
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
