@model TeHagoLaFila.Models.Negocio

@{
	ViewData["Title"] = "Details";

	var currentBusiness = (Negocio)ViewBag.RealHataLaMuelte;

	var empleados = (List<Empleado>)ViewBag.empleados;
	var reservaciones = (List<Reservacion>)ViewBag.reservaciones;
	var usuario = ViewBag.usuario;
}

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<div class="card ">
					<center>
						<div class="card-header ">
							<h4 class="card-title">@Html.DisplayFor(model => model.Nombre)</h4>
							<p class="card-category">@Html.DisplayFor(model => model.Direccion)</p>
						</div>
						<div class="card-body">
							<img width="250" height="250" class="img img-rounded border" src="/images/categoriaNegocio/iconos/@Html.DisplayFor(model => model.Nombre) .png">
						</div>
						<div class="card-footer ">
							<hr>
							<div class="stats">
								<i class="nc-icon nc-chat-round"></i> @Html.DisplayFor(model => model.Descripcion)
							</div>
						</div>
					</center>
				</div>
			</div>
			<div class="col-md-8">
				<center>
					<div class="card  card-tasks">
						<div class="card-header ">
							<h4 class="card-title">Reservaciones</h4>
							<p class="card-category">Personas en la fila</p>
						</div>
						<div class="card-body ">
							<table class="table table-striped">
								<thead class="table-success">
									<tr>
										<th>Barbero</th>
										<th>Turno</th>
										<th>Usuario</th>
										<th>Foto</th>
									</tr>
								</thead>

								@foreach (var item in empleados)
	                            {
							        <thead class='table-info'>
								        <tr>
									        <td colspan="5">
										        <input type="checkbox" name="@item.ApplicationUser.Name" id="@item.ApplicationUser.Name" data-toggle="toggle">
										        <label for="@item.ApplicationUser.Name">@item.ApplicationUser.Name</label>
									        </td>
								        </tr>
							        </thead>
							        <tbody class="hide">
								        
									        @foreach (var _item in ViewBag.reservaciones)
	                                        {
                                                <tr>
									                <td></td>
                                                    <td>1</td>
                                                    <td>Freddy Rondon</td>
								                    <td>
									                    <img width="30" height="30" class="rounded-circle" src="~/images/faces/face-3.jpg">
								                    </td>
								                </tr>
                                            }
                                        
							        </tbody>
									}

									<tbody class="hide">
										<tr>
											<td></td>
											<td>1</td>
											<td>Freddy Rondon</td>
											<td>
												<img width="30" height="30" class="rounded-circle" src="~/images/faces/face-3.jpg">
											</td>
										</tr>
										<tr>
											<td></td>
											<td>2</td>
											<td>Freilyn Tavárez</td>
											<td>
												<img width="30" height="30" class="rounded-circle" src="~/images/faces/face-3.jpg">
											</td>
										</tr>
										<tr>
											<td></td>
											<td>3</td>
											<td>Jorge Pache</td>
											<td>
												<img width="30" height="30" class="rounded-circle" src="~/images/faces/face-3.jpg">
											</td>
										</tr>
									</tbody>
									<thead class="table-info">
										<tr>
											<td colspan="5">
												<label for="management">Guillermo</label>
												<input type="checkbox" name="management" id="management" data-toggle="toggle">
											</td>
										</tr>
									</thead>
									<tbody class="hide">
										<tr>
											<td></td>
											<td>1</td>
											<td>Oliver Ureña</td>
											<td>
												<img width="30" height="30" class="rounded-circle" src="~/images/faces/face-3.jpg">
											</td>
										</tr>
										<tr>
											<td></td>
											<td>2</td>
											<td>Eduardo Calderón</td>
											<td>
												<img width="30" height="30" class="rounded-circle" src="~/images/faces/face-3.jpg">
											</td>
										</tr>
										<tr>
											<td></td>
											<td>3</td>
											<td>Allan Abreu</td>
											<td>
												<img width="30" height="30" class="rounded-circle" src="~/images/faces/face-3.jpg">
											</td>
										</tr>
									</tbody>
								</table>
						</div>
						<div class="card-footer ">
							<hr>
							<div class="stats">
								<i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
							</div>
						</div>
					</div>
				</center>
			</div>
		</div>
	</div>
</div>